# файл requirements.txt содержит список всех библиотек, которые нужны для работы нашего сайта.
#
# Flask - это фреймворк для создания веб-сайтов на Python.
# это самая главная библиотека, без неё сайт не будет работать.

Flask==3.0.0